
@{
    ViewBag.Title = "SelectedLaptop";
}

<h2>SelectedLaptop</h2>
<form method="post">
    <label>Enter Quantity :</label>
    <input type="number" name="qty" /><br />

    <input type="submit" name="Selected" value="Order Now" />
</form>
@Html.ActionLink("AddToCart", "AddToCart")
